{% extends "base.html.twig" %}
{% block contenu %}
	<h1>Bienvenue !</h1>
	<p>Bienvenue sur
		<strong>ISIWeb4Shop</strong>
		Cliquez sur la liste de gauche pour découvrir notre stock. Nous proposons une large gamme de produits.
	</p>

{% endblock %}
